@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro", sans-serif; 
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 50px;
    background-color: #f7f6f4;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: #506683;
    font-size: 0.7em;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #506683;

}

.tel {
    color: #3ba6f2;
}

img {
    vertical-align: middle;
}

#country {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e2e1df;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
}

.container {
    background-color: #ece8d9;

}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: sticky;
    top: 0;
}

#nav a {
    font-size: 0.85em;
}

.redlink {
    color: #d77f81;
}

#banner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0px 60px;
    color: #506683;

}

.cardholder img {
    width: 450px;
    height: 350px;
}

h1 {
    font-family: "dm serif display",serif;
    color: #384a62;
    font-weight: normal;
    font-size: 1.5rem;
}

#banner h1 {
    font-size: 4.2rem;
}

#banner h2 {
    color: #708095;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 45px;
}

.cardholder {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.search {
    width: 50vw;
    padding: 0px 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5px;

}

.search input {
    width: 45vw;
    padding: 20px 0;
    border: 0;
    color: #708095;
    line-height: 2rem;
    font-size: 1rem;
}

#ps {
    padding: 50px 50px 0px 50px;
}

.pstitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.pcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

#pitem {
    width: 21vw;
    height: 80vh;
    border: 1px solid #f7f6f4;
    box-shadow: 0 0 5px 0px #f7f6f4;
}

.innerpitem {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.innerpitem:nth-child(2) {
    padding: 1em;
    font-size: 0.85rem;
}

.innerpitem img {
    width: 100%;
    height: 100%;
}

.innerpitem h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-weight: 700;
}

.innerpitem .price {
    font-size: 1rem;
}

.innerpitem em, .innerpitem h4 {
    color: #e2e1df;
}

.innerpitem img:hover {
    transform: scale(1.05, 1.05);
}

.brow {
    /* width: 70%; */
    padding: 1em;
    border-radius: 4px;
    background-color: #d77f81;
    color: #f7f6f4;
}

.category {
    padding: 50px;
}

.cattitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
}

#pccontainer {
    display: flex;
    gap: 30px;
}

#sponsor {
    padding: 50px;
}

#sponsor h4 {
    width: 50vw;
    font-size: 1.25em;
    line-height: 2rem;
    margin-bottom: 20px;
}

#sponsorers img {
    width: 100%;
}

#whatPeople {
    padding: 50px;
    background-color: #edf6fd;
}

#peoplecon {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.customers {
    width: 370px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    gap: 1em;
    padding: 1em;
    font-weight: 20;
}

.customers p {
    margin: 20px 0 0 0;
}

.innerpeople {
    padding: 0.5em 0;
}

.customers a {
    color: #3ba6f2;
}
.customers img {
    border: 1px solid #ece8d9;
    padding: 0.5em;
    border-radius: 100%;
    vertical-align: middle;
}

#count {
    background-color: #fff;
    padding:   100px 50px;
}

#countcon {
    display: flex;
    justify-content: space-between;
}

.counters {
    width: 370px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    gap: 1em;
    padding: 1em;
    font-weight: 20;
}

.counters p {
    margin: 20px 0 0 0;
    color: #e2e1df;
}

.counters a {
    color: #3ba6f2;
}

#amazingWork {
    background-color: #e2e1df;
    padding:  100px 50px;
}

#amazingcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amazing {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 20;
}

.amazing a {
    text-decoration: underline;
}


#quicklink {
    background-color: #384a62;
    padding: 50px;
    display: flex;
    gap: 10em;
    color: #ece8d9;
    font-weight: 700;
    font-size: 0.8em;
}

.quick h3 {
    font-size: 1.25em;
}

.quick ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    gap: 1.5em;
    font-weight: 600;
    margin-top: 2em;
}

footer {
    background-color: #ece8d9;
    color: #708095;
}

#copyright {
    text-align: center;
    padding: 30px;
    font-weight: 20;

}

